<html>
<center>
    <h1 Style="background-color: black;color:pink;"> Profile </h1>
</center>
<body>
    
    <p align="Justify">
        <h2> Enter your details </h2>
        <br />
        <label for="Fname"><b>FirstName</b></label>
        &nbsp;<input type="text" placeholder="Enter your FirstName" name="FirstName" required>
        &nbsp;&nbsp;
        <label for="Lname"><b>LastName</b></label>
        &nbsp;<input type="text" placeholder="Enter your FirstName" name="LastName" required>
        <br />
        <br />
        <label for="Street"><b>Street</b></label>
        &nbsp;&nbsp;&nbsp;<input type="text" placeholder="Enter your Street">
        &nbsp;&nbsp;
        <label for="No"><b>No</b></label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="Enter your No">
        <br />
        <br />
        <label for="City"><b>City</b></label>
        &nbsp;&nbsp;&nbsp;<input type="text" placeholder="Enter your city">
        &nbsp; &nbsp;
        <label for="Postal"><b>Postal</b></label>
        &nbsp;&nbsp;&nbsp;<input type="text" placeholder="Enter your Postal">
        <br />
        <br />
        &nbsp;&nbsp; <label for="PhoneNumber"><b>PhoneNumber*</b></label>
        &nbsp;<input type="text" placeholder="Enter your PhoneNumber" name="PhoneNumber" required>

        <br />
        <br />

        <h4 Style="color:White;"> <a href="/Profile/Experience"><center> <div class="button"> Next  </div></center> </a> <br /></h4>
    </p>
    
    <style>
        * {
            box-sizing: border-box;
        }

        /* Add padding to containers */
        .container {
            padding: 16px;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 40%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit/register button */
        .button {
            background-color: #000000;
            color: black;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

            .button:hover {
                opacity: 1;
            }

        /* Add a blue text color to links */
        a {
            color: white;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }
    </style>

</body>
</html>