
@{
    ViewBag.Title = "delete";
}
<br />
<br />
<button onclick="location.href='@Url.Action("AdminNews", "News")';return false;" class="button">Back to News page</button>
<center>
    <br />
    <br />
    <br />

    <h1>Deleted Succesfully</h1>
    <br />
    <br />

</center>

<style>
    .button {
        background-color: black;
        color: white;
        padding: 16px 20px;
        margin: 20px 0;
        border: none;
        cursor: pointer;
        width: 20%;
        opacity: 0.9;
    }
</style>

