<!DOCTYPE html>
<center><h1>Roller Derby Association NewZealand Incorporated</h1></center>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>


<body>
    <header class="header">


        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2">

                    <div class="header__logo">
                        <a href=""><img src="~/Content/RDANZI Logo 2.png.png" alt=""></a>
                    </div>
                </div>

            </div>



        </div>

    </header>
   
    <div class="background-image">
        <div class="bg-image img1"> </div>
        <div class="bg-image img2"> </div>

        <div class="bg-text"> </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="social-footer">
        <div class="social-footer-left">
            <a href="#"> <img class="logo" src=""> </a>
        </div>
        <div class="social-footer-middle">
            <ul>
                <li> <a href="#"> About Us</a> </li>
                <li> <a href="#"> Privacy Policy</a> </li>
                <li> <a href="#"> Terms of Use</a> </li>
            </ul>
        </div>
        <div class="social-footer-icons">
            <ul class="menu simple">

                <li> <a href="https://www.facebook.com/"> <img src="~/Content/Images/Faxebook.png" /> </a> </li>
                <li> <a href="https://www.instagram.com/?hl=en"> <img src="~/Content/Images/Instaragam.jpg" />  </a> </li>
                <li> <a href="#">  </a> <img src="~/Content/Images/Phone.png" /></li>
                <li> <a href="https://twitter.com/?lang=en"><img src="~/Content/Images/Twitter.png" />  </a> </li>
            </ul>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <style>
                .social-footer .social-footer-icons .fa:hover {
                    color: #4a4a4a;
                    transition: color 0.3s ease-in;
                    font-size: 1.3rem;
                    color: #fefefe;
                    color: #808080;
                    transition: color 0.3s ease-in;
                }

                .social-footer .social-footer-icons .fa {
                    font-size: 5rem;
                    color: #fefefe;
                    margin-right: 0 10px 0;
                    padding-right: 0.5em;
                }

                .social-footer .social-footer-icons li:last-of-type, ul, li {
                    margin-right: 0;
                    display: inline-block;
                }

                .social-footer .social-footer-icons img {
                    width: 50px;
                    height: 50px;
                }
            </style>
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts",false)
</body>
</html>
