
@{
    ViewBag.Title = "ForgotPassword";
}

<html>
<center>
    <h1 Style="background-color: black;color:pink;"> Forgot Password </h1>
</center>
<body>


    <br />
    <br />

    <center>
        <div class="container">
            <label for="uname"><b>Email</b></label>&nbsp;
            <input type="text" placeholder="Enter Email" name="FEmail" required>
            <br />
            <br />
            
    </div>

    <center>
        <p> <a href="/Login/ForgotCode/"> <div class="loginbtn"><center></center>Sent Code  </div> </a></p>
    </center>
   
    <br />
    
    <style>
        * {
            box-sizing: border-box
        }

        /* Add padding to containers */
        .container {
            padding: 16px;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 30%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit/register button */
        .loginbtn {
            background-color: #000000;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 20%;
            opacity: 0.9;
        }

            .loginbtn:hover {
                opacity: 1;
            }

        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }
    </style>
</body>
</html>
