
@{
    ViewBag.Title = "NewPassword";
}


<html>
<center>
    <h1 Style="background-color: black;color:pink;"> Change Password </h1>
</center>
<body>


    <br />
    <br />
    <center>
        <div class="container">
           
            <label for="psw"><b>New Password</b></label>&nbsp;
            &nbsp;<input type="password" placeholder="Enter Password" name="psw" required>
            <br />
            <br />
            <label for="psw"><b>Repeat Password</b></label>&nbsp;
            &nbsp;<input type="password" placeholder="Repeat your Password" name="psw" required>
            <br />
            <br />
        </div>
        
        <br />
    </center>

    <center>
        <p> <a href="/Login/Index/"> <div class="button"><center>Submit</center>  </div> </a></p>


      

      
    </p><br />
    <style>
        * {
            box-sizing: border-box;
        }

        /* Add padding to containers */
        .container {
            padding: 16px;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 30%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit/register button */
        .button {
            background-color: #000000;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 20%;
            opacity: 0.9;
        }

            .button:hover {
                opacity: 1;
            }

        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }
    </style>

</body>
</html>



