
@{
    ViewBag.Title = "Index";
}

    
    <center>
        <h1 Style="background-color: black;color:pink;"> Events </h1>
    </center>
<html>
    <body>


        <p>
            Emralds Women vs Rubbies Women . Wellington . Region3
        </p>

       
        <p>
            Emralds Men vs Rubbies Men . Auckland . Region1
        </p>
        

    </body>
    </html>